* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


body {
    font-family: 'League Spartan', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

/*               общая настройка               */
.container {
    max-width: 1140px;
    margin: 0px auto;
    /* display: flex; */
}

.wrapper {
    min-height: 100%;
}

.header {
    background: #F8F8F8;
    min-height: 100vh;
    padding-bottom: 168px;


}

.header__container {
    display: flex;
}

.header__desc {
    max-width: 627px;
    padding-top: 104px;
    margin-right: 32px;

}

.header__supertitle {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 53px;
    color: #161515;
}

.suptitle {
    font-size: 24px;
    font-weight: 300;
}

.title {

    font-size: 250px;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 1;
}

.header__text {
    color: #161515;
    font-size: 32px;
    font-weight: 300;
    line-height: 155%;
    margin-top: 0;
    margin-bottom: 60px;
}

.offer {
    display: flex;
}


.offer__link {
    color: #FFF;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    display: inline-block;
    background-color: #161515;
    padding: 25px 74px;
}

.offer__price {
    background: #FFF;
    box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
    padding: 16px 28px;
    color: #272727;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    display: flex;
    align-items: center;

}


.header__img-wrap {
    width: 408px;


}

.header_img {
    object-fit: contain;
    object-position: center;
    height: 100%;
}

.products {
    padding-top: 43px;
    padding-bottom: 142px;
    background: #F8F8F8;
}


.products__content {
    max-width: 531px;
    margin: 0 auto;
    text-align: center;
}

.products_supertitle {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.section-title {
    color: rgb(0, 0, 0);
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 84px;
}




.product {
    margin-bottom: 86px;
}

.product:last-child {
    margin-bottom: 60px;
}

.product__img-wrap {
    /* padding: 110px 60px; */
    max-width: 416px;
    margin: 0 auto;
    background: rgb(248, 248, 248);
    padding: 110px 0px;
    margin-bottom: 66px;
}

.subtitle {

    font-size: 32px;
    font-weight: 400;

}



.product__text {
    color: rgb(22, 21, 21);
    font-size: 32px;
    font-weight: 300;
    line-height: 155%;
}

.subtitle_underline {
    margin-bottom: 50px;
}

.subtitle_underline::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(112, 112, 112);
    max-width: 178px;
    margin: 0 auto;
    margin-top: 10px;
}

.products__desc-text {
    margin: 0;
    color: rgb(22, 21, 21);
    font-size: 24px;
    font-weight: 300;
    line-height: 170%;

}

.products__desc-text a {
    font-weight: 500;
    color: rgb(187, 139, 93);
}